<section class="enteteListeSpot">
  <div class="container">
    <div class="alert alert-success alert-dismissible" role="alert" *ngIf="succes">
      La suppression a bien été prise en compte !
      <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close" (click)="closeSucces()">
      </button>
    </div>
    <div class="alert alert-success alert-dismissible" role="alert" *ngIf="succesForm">
      L'ajout a bien été pris en compte !
      <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close" (click)="closeSuccesForm()">
      </button>
    </div>

    <div class="alert alert-success alert-dismissible" role="alert" *ngIf="succesModifForm">
      La modification a bien été prise en compte !
      <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close" (click)="closeSuccesFormModif()">
      </button>
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="error">
      Une erreur est survenue
    </div>
  </div>

  <figure>
    <blockquote class="blockquote">
      <p class=""> </p>
    </blockquote>
    <figcaption class="blockquote-footer titreListeSpot">
      Spots de surf
    </figcaption>
  </figure>
</section>

<div class="container">
  <div class="row">
    <div class="col-lg-8 sectionSearch_AjoutSpot">
      <input (keyup)="applyFilter($event)" placeholder="Recherche par nom de spot" #input
        class="form-control input_search ">
    </div>
    <div class="col-lg-4 sectionSearch_AjoutSpot ">
      <button type="button" class="btn btn-light buttonAjoutSpot" (click)="openDialog(dataSource)">Ajout de
        Spot</button>
    </div>
  </div>
</div>

<div class="container sectionListe">

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="_id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element._id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="latitude">
        <th mat-header-cell *matHeaderCellDef> Latitude </th>
        <td mat-cell *matCellDef="let element"> {{element.latitude}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="longitude">
        <th mat-header-cell *matHeaderCellDef> Longitude </th>
        <td mat-cell *matCellDef="let element"> {{element.longitude}} </td>
      </ng-container>



      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Action. </th>
        <td mat-cell *matCellDef="let row">
          <button (click)="openDialogEditSpot(row._id)" class="btn btn-icon">
            <fa-icon [icon]="faEdit"></fa-icon>
          </button>

          <button (click)="deleteRecordSpot(row.id,row._id)" class="btn btn-icon">
            <fa-icon [icon]="croix"></fa-icon>
          </button>

        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>


</div>