table {
    width: 100%;
   
  }
  ::ng-deep .custom-modalbox  {
    mat-dialog-container {
        background: #bec5d8;
    }
}

  
  .dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
  }
  .dark-modal .close {
    color: white;
  }
  .light-blue-backdrop {
    background-color: #5cb3fd;
  }
  .enteteListeSpot{
    text-align: center;
    padding-top:40px;

  }
  .titreListeSpot{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;

  }


  .sectionListe{
    padding-top: 50px;;
  }

  .buttonAjoutSpot{
    border-color: grey;
    float: right;
  }

  .btn-icon{
    border: none;
    color: white;
  }
  .btn-icon :hover{
      color:#bec5d8
  }
  .sectionSearch_AjoutSpot{
    padding-top:25px;
    margin-bottom: -40px;
  }
  .input_search{ 
    width: 60%;
  }
 