
  <section class="enteteSpots">
     <div>
      <h1 class="titre">LES SPOTS</h1>
     </div>
      
    </section>
<br>
<div style="text-align: center;">
  <div class="searchbar">
 <div class="container">
     <input type="text" class="form-control" #searchbar [(ngModel)]="searchInput" (keyup)="fetchSeries($event)" placeholder="ex : Audierne" />
  </div>
 
<br>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-lg-4 espacementCol" *ngFor="let spot of dataSource">
<div class="outer-div">
  <div class="inner-div">
    <div class="front">
      <div class="front__bkg-photo">
       <img class="fit-picture"  width="300" height="250" src="{{spot.url}}" > 
        
      </div>
    <div class="front__face-photo"></div> 
      <div class="front__text">
        <h3 class="front__text-header">{{spot.nom}}</h3>
        <p class="front__text-para"><i class="fas fa-map-marker-alt front-icons"></i>France</p>
        
        <span class="front__text-hover" (click)="openDialog(spot._id)">+ De Details</span>
       
      </div>

    </div>


  </div>
  
</div>
</div>

</div>
<mat-paginator [pageSizeOptions]="[3, 10, 20]" 
                [pageSize]="6" 
                [length]="spots.length"
             (page)="OnePageChance($event)"></mat-paginator>
</div>
