<h2 mat-dialog-title>{{test.nom}}</h2>
<div mat-dialog-content>


  <p>{{test.nom}}</p>
  <p>{{test.latitude}}</p>
  <p>{{test.longitude}}</p>
  <p>{{test.swellDir16Point}}</p>
  <!-- (click)="deleteFavoris( spot.nomSpot,spot.latitudeSpot,spot.longitudeSpot)" -->
  <!-- <button >
    <fa-icon [icon]="faHeart"></fa-icon></button> -->

    
  </div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button cdkFocusInitial>Install</button>
</div>


<!-- Copyright 2021 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->