<section class="enteteListeUtilisateur">

  <div class="container">
    <div class="alert alert-success alert-dismissible" role="alert" *ngIf="succes">
      L'utilisateur a bien été banni ! 
      <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close" (click)="closeSucces()">
      </button>
    </div>

    <div class="alert alert-success alert-dismissible" role="alert" *ngIf="succesApprouveCompte">
     L'accès à l'utilisateur a été réouvert
      <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close" (click)="closeSuccesApprouveCompte()">
      </button>
    </div>
    
    <div class="alert alert-danger" role="alert" *ngIf="error">
      Une erreur est survenue
    </div>
  </div>

  <figure>
    <blockquote class="blockquote">
      <p class=""> </p>
    </blockquote>
    <figcaption class="blockquote-footer titreListeUtilisateur">
    Utilisateurs 
    </figcaption>
  </figure>
</section>

<div class="container ">
  <div class="sectionSearch">
 
</div>
</div>


<div class="container sectionListe">
 
  <div class="row">
    <div class="col-lg-8 sectionSearch_AjoutSpot">
    
      <input  *ngIf="actif" type="text" class="form-control input_search " #searchbar [(ngModel)]="searchInput"
      (keyup)="fetchSeries($event)" placeholder="Recherche par email " />
  
  </div> 
    <div class="col-lg-4 sectionSearch_AjoutSpot ">
      <button mat-raised-button (click)="UtilisateurBannit()"   matBadge="{{nbReclamationAafficher}}" matBadgeColor="accent" class="btn btn-light buttonFiltre" >Réclamations</button>
      <button mat-raised-button (click)="UtilisateutActif()"  class="btn btn-light buttonFiltre" >Actif</button>
    </div>
  </div>



  
  <div class="mat-elevation-z8" *ngIf="actif">
    
    <table mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let element"> {{element.personne.nom }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef> Prenom </th>
        <td mat-cell *matCellDef="let element"> {{element.personne.prenom}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Action. </th>
        <td mat-cell *matCellDef="let row">
          <div *ngIf="!row.bannissement">
            <button (click)="deleteRecordUtilisateur(row.id,row.email)" class="btn  btn-icon">
              <!-- (click)="deleteUser(element.email)" -->
              <fa-icon [icon]="faUserSlash"></fa-icon>
            </button>
          </div>
          <div *ngIf="row.bannissement">
            <button (click)="ApprouveUtilisateur(row.id,row.email)" class="btn  btn-icon">
              <!-- (click)="deleteUser(element.email)" -->
              <fa-icon [icon]="faUserCheck"></fa-icon>
            </button>

          </div>
          

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" 
        [pageSize]="5" 
        [length]="listeUser.length"
        (page)="OnePageChance($event)">
      </mat-paginator> -->

    <mat-paginator #paginator [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>


  
  
  <div class="mat-elevation-z8" *ngIf="!actif">
    
    <table mat-table [dataSource]="dataSourceReclamation">

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.espaceUtilisateur.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let element"> {{element.espaceUtilisateur.personne.nom }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef> Prenom </th>
        <td mat-cell *matCellDef="let element"> {{element.espaceUtilisateur.personne.prenom}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.espaceUtilisateur.email}} </td>
      </ng-container>

      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Action. </th>
        <td mat-cell *matCellDef="let row">

         <button (click)="CommentaireUserBannit(row.espaceUtilisateur.id,row.espaceUtilisateur.email)" class="btn  btn-icon">
            <fa-icon [icon]="faFolderOpen"></fa-icon>
          </button> 

            <button (click)="ApprouveUtilisateur(row.espaceUtilisateur.id,row.espaceUtilisateur.email)" class="btn  btn-icon">
              <!-- (click)="deleteUser(element.email)" -->
              <fa-icon [icon]="faUserCheck"></fa-icon>
            </button>

            <button (click)="deleteReclamationUtilisateur(row.espaceUtilisateur.id,row.espaceUtilisateur.email)" class="btn  btn-icon">
              <!-- (click)="deleteUser(element.email)" -->
              <fa-icon [icon]="faUserSlash"></fa-icon>
            </button>

           

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" 
        [pageSize]="5" 
        [length]="listeUser.length"
        (page)="OnePageChance($event)">
      </mat-paginator> -->

    <mat-paginator #paginator [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>





</div>

<ng-template #content #email let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Confirmation</h4>
    <button type="button" class="close btn btn-light" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p>Voulez-vous supprimer l'utilisateur : </p>
    <button type="button" class="btn btn-default" (click)="deleteUser(email)">Oui</button>
    <button type="button" class="btn btn-primary" (click)="decline()">Non</button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>