table {
    width: 100%;
   
  }
  
  .dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
  }
  .dark-modal .close {
    color: white;
  }
  .light-blue-backdrop {
    background-color: #5cb3fd;
  }
  .enteteListeUtilisateur{
    text-align: center;
    padding-top: 40px;

  }
  .titreListeUtilisateur{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;

  }

  .sectionListe{
    padding-top: 25px;;
  
  }
  .btn-icon {
    border: none;
    color: white;

  }
  .btn-icon :hover{
    color: #bec5d8
}
  // .sectionSearch{
  //   //padding-top:50px;
  //   // margin-bottom: -40px;
  // }
  .input_search{ 
    width: 40%;
    margin-bottom: 15px;
  }
  .font {
    color: black;
    margin-top: 10px;
   margin-left: 10px;
  }

  .buttonFiltre{
    border-color: grey;
    float: right;
    margin: 0 8px 8px 0;
  }
 
  