<h2 matDialogTitle>Confirmer la suppression</h2>
<div matDialogContent>{{message}}  {{title}}</div>
<div matDialogActions fxLayoutAlign="space-around center">
  <div class="modal-body text-center">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <button class="btn btn-light" matDialogClose md-raised-button (click)="dialogRef.close(true)">Oui</button>
        </div>
        <div class="col-lg-6">
          <button class="btn btn-light" matDialogClose md-raised-button (click)="dialogRef.close()">Non</button>
        </div>
      </div>
    </div>
  </div>
</div>