.cdk-overlay-container, .cdk-global-overlay-wrapper {
    /* pointer-events: none; */
    top: 0;
    left: 0;
    height: 140%  !important;
    width: 100%;
}


.mat-dialog-container{

    background: #bec5d8;
}

// ::ng-deep .custom-modalbox  {
//     mat-dialog-container {
//         background: #bec5d8;
//     }
// }
