
<div class="row test">

  <div matDialogActions >
    <div class="modal-body text-center">
      <div class="container-fluid">
        <div class="row">
          <div class="col" matDialogContent>{{message}}</div>
          <div class="col">
            <button class="btn btn-light" matDialogClose md-raised-button (click)="dialogRef.close()">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
