.enteteInscription{
    background-image: url(../../../assets/images/parallax_2.jpg);
    position: relative;
    padding-top: 200px;
    padding-right: 0px;
    padding-bottom: 300px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: -11px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: 50% 50%;
    box-shadow: 0 0 0 0 #ffffff;
 
}

.titreInscription{
    color: white;
    text-align: center;
}