
<div class="container">
  
  <div class="alert alert-success alert-dismissible"   role="alert"  *ngIf="succesModifPassword">
    La modification a bien été prise en compte !
      <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close" (click)="closeSuccesForm()">
      </button>
    </div>

    <div class="alert alert-success alert-dismissible"   role="alert"  *ngIf="!infoPersonChanger">
     Pas de changement 
        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close" (click)="closePasDeChangement()">
        </button>
      </div>
  

  <div class="main-body">

    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="assets/images/icon_user.png" alt="Admin" class="rounded-circle"
                width="150">
              <div class="mt-3">
                <h4>{{user.personne.nom}} {{user.personne.prenom}}</h4>

                <button class="btn btn-primary" (click)="deleteCompte(user.email)">Supprimer</button>
              <button class="btn btn-outline-primary" (click)="openDialogModificationInfoPerso()" >Modifier mon mot de passe </button>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h4 class="mb-2">Nom et Prenom</h4>
              </div>
              <div class="col-sm-9 text-secondary">
                {{user.personne.nom}} {{user.personne.prenom}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h4 class="mb-2">Email</h4>
              </div>
              <div class="col-sm-9 text-secondary">
                {{user.email}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h4 class="mb-2">Numéro</h4>
              </div>
              <div class="col-sm-9 text-secondary">
                {{user.personne.numero}}
               
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-12">
                <button class="btn btn-light btn-block btn-modification" (click)="openDialogModification()" >Modifier</button>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-12">
        <div class="row gutters-sm">


          <div class="row mt-4">
            <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
              <li class="nav-item nav-item-collecte" role="presentation"><a class="nav-link active" id="collecte-tab"
                  data-bs-toggle="tab" data-bs-target="#collecte" role="tab" aria-controls="collecte"
                  aria-selected="true"> Mes favoris</a></li>
            </ul>


            <div class="container" id="section3">
              <div class="py-5">
                <div class="row">

                  <div class="card cardSpot" style="width: 18rem;" *ngFor="let spot of imagespot;  let i = index">
                    <div>
                      <img class="card-img-top" src="{{spot[0].path}}" alt="Card image cap">
                    </div>
                    <div class="card-body">
                      <h3 class="card-title">{{spot[0].nom}}</h3>

                      <div class="row">

                        <button class="btn_detail" mat-button (click)="openDialog(spot[0]._id)">+ De Details</button>

                        <button
                          (click)="deleteFavoris(user.email,spot[0]._id)"
                          class="btn  btn_fav">
                          <fa-icon [icon]="faHeartBroken"></fa-icon>
                        </button>
                      </div>

                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>


        </div>

      </div>
    </div>
  </div>
