
body {
  padding-top: 70px;
  background: #ddd;
 
}

.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 800ms linear;
}

.navbar-fixed-top.scrolled .nav-link {
  color:#111;
}
.lienEntete{
  font-size: 20px;
}
.nav_link{
  text-align: center;
}

/* Paragraphes en bleu par défaut */
p
{
    color: blue;
}

/* Nouvelles règles si la fenêtre fait au plus 1024px de large */
@media screen and (min-width: 1000px)
{
   
.navbar-nav.navbar-center  {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}
.navbar-right{
  position: absolute;
  left:95%;
  transform: translatex(-50%);
}
}
.btn_profile{
  border: none;
  background-color: Transparent;
}
.lien_navbar{
  font-size: 25px;
  font-family: 'designer', 'arial', sans-serif;
}
.sous_menu{

  font-family: 'designer', 'arial', sans-serif;
}