



<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <a class="navbar-brand" [routerLink]="'.'">  <img src="assets/images/logo.png" width="200" height="100" class="d-inline-block align-top" alt="">
  </a>

  <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
  </button>

  <!-- Step 2: Add the ngbCollapse directive to the element below. -->
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav  navbar-center">
      <li class="nav-item active">
        <a class="nav-link lien_navbar " [routerLink]="['/']" (click)="isMenuCollapsed = true">ACCUEIL</a>
      </li>
      <li class="nav-item">

        <a class="nav-link lien_navbar" [routerLink]="['/spot']" (click)="isMenuCollapsed = true">SPOTS</a>
      </li>
    </ul>

    <ul class="navbar-nav navbar-right" *ngIf="!isLoggedIn" >
      <!-- <li class="nav-item active">
        <a class="nav-link " [routerLink]="['/register']" (click)="isMenuCollapsed = true">Inscription</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link lien_navbar" [routerLink]="['/login']"(click)="isMenuCollapsed = true">Connexion</a>
      </li>
    </ul>

    <ul class="navbar-nav navbar-right" *ngIf="isLoggedIn" >
      <li class="nav-item active" *ngIf="showAdminBoard" >
        <!-- <a class="nav-link " [routerLink]="['/profile-admin']" (click)="isMenuCollapsed = true">{{ email }}</a> -->

        <button mat-icon-button [matMenuTriggerFor]="menu" class="btn_profile" aria-label="Example icon-button with a menu">
          <img src="assets/images/surfboard.png" width="40" height="40" class="d-inline-block align-top" alt="">
         </button>
         <mat-menu #menu="matMenu">
           <button mat-menu-item [routerLink]="['/profile-admin']">
             <mat-icon>account_circle</mat-icon>
             <span class="sous_menu" >Profile</span>
           </button>
           <button mat-menu-item (click)="logout()">
             <mat-icon>exit_to_app</mat-icon>
             <span class="sous_menu" >Deconnexion</span>
           </button>
         </mat-menu>

      </li>

      <li class="nav-item"  *ngIf="showUserBoard">
        <button mat-icon-button [matMenuTriggerFor]="menu" class="btn_profile" aria-label="Example icon-button with a menu">
         <img src="assets/images/surfboard.png" width="40" height="40" class="d-inline-block align-top" alt="">
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/profile']">
            <mat-icon>account_circle</mat-icon>
            <span class="sous_menu" >Profile</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span class="sous_menu" >Deconnexion</span>
          </button>
        </mat-menu>
      </li>

    </ul>


  </div>
</nav>



