.fit-picture{
   width: 500px;
}

.mat-dialog-container{

    background: #bec5d8;
}

::ng-deep .custom-modalbox  {
    mat-dialog-container {
        background: #bec5d8;
    }
}

.enteteDialog{
    width: 600px;
 
}
.nomSpot{
    position: relative;
}
.contenant {
    position: relative;
    text-align: center;
    margin-left: -50px;
  }
  

  .div_texte_centrer{
    position: absolute;
    width: 83.5%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    background-color: rgba(255,255,255,0.5);
    text-transform: uppercase;
    font-size: 20px;

  }
  .icon{
      width: 100px;
  }
  .textStatutMeteo{
    font-size: 20px;
    margin-right: 2px;
  }


  .titreMeteo{
      font-size: 32px;
      text-align: center;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      margin-bottom: 5px;
  }
  .textTitreMeteo{
    font-size: 18px;
    margin-left: 5px;
    margin-bottom: 5px;
    color: 	black
  }

  .textMeteo{
    font-size: 20px;
    margin-right: 2px;
    color: 	black
  }
  .mesureMeteo{
    color: black;
  }
  .listePrevision{
    margin-top: 30px;
  }

  .encadreInfoSpot {
      width: 500px;
      margin-left: 50px;
      border: solid;
      border-top: none;
    }

.recommandation{
    margin-left: 100px;
    
}
.iconMeteo{

    width: 30px;
    height: 30px;
    // margin-left: -130px;
    margin-top:2px;
}

.boutonPrevision{
    padding-top: 100px;
}

table {
    width: 100%;
   
  }
  
  .dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
  }
  .dark-modal .close {
    color: white;
  }
  .light-blue-backdrop {
    background-color: #5cb3fd;
  }

  .btn-fav{
    border: none;
  }

  .test {
  font-size: 20px;
  line-height: 1.5;
  // padding-bottom: 30px;
}

 .btn_nonFavoris{
  padding: .125rem .45rem;
 }

//   .tailleTableauCommentaire{
//       width: 400px;
//       height: 300px;
//   }