<div mat-dialog-content>
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-12 col-md-12">
        <section class="enteteDialog contenant">

          <img class="fit-picture img-fluid" src="{{spotSurf.url}}">
          <div class="div_texte_centrer">
            <p class="texte_center">{{spotSurf.nom}}</p>

          </div>

          <div class="encadreInfoSpot">
            <div class="row">
              <div class="col-md-6">
                <!-- <span>Adresse : </span> <button type="button" class="btn btn-outline-light">
                  <fa-icon [icon]="faSearchLocation"></fa-icon>
                </button> -->

                <span>Prevision : </span>
                <img class="iconMeteo" src="{{spotSurf.iconMeteo}}">
              </div>
              <div class="col-md-6">
                <div class="favoris">
                  <span>Enregistrer :  </span>

                <button type="button" *ngIf="isAdmin"
                matTooltip="Seul les utilisateurs peuvent ajouter un spot en favoris"
                aria-label="Seul les utilisateurs peuvent ajouter un spot en favoris" 
                    class="btn-fav btn btn-outline-light">
                    <fa-icon [icon]="faHeart"></fa-icon>
                  </button> 

                  <button type="button" *ngIf="isLoggedIn && !isFavoris && !isAdmin"
                    class="btn-fav btn btn-outline-light btn_nonFavoris"
                    (click)="addFavoris(email,idSpot,activite,latitude,longitude)">
                    <!-- <fa-icon [icon]="faHeart"></fa-icon> -->
                    <mat-icon class="test">favorite_border</mat-icon>
                  </button>

                  <button type="button" *ngIf="isLoggedIn && isFavoris && !isAdmin"
                    class="btn-fav btn btn-outline-light" (click)="deleteFavoris(email,idSpot)">
                    <!-- <fa-icon [icon]="faHeartBroken"></fa-icon> -->
                    <fa-icon [icon]="faHeart"></fa-icon>
                  </button>

                  <!-- <div  *ngIf="!isLoggedIn && !isFavoris" data-placement="bottom" title="Se connecter pour ajouter aux favoris" > -->
                  <button type="button" *ngIf="!isLoggedIn && !isFavoris && !isAdmin"
                    matTooltip="Connexion requise"
                    class="btn-fav btn btn-outline-light btn_nonFavoris">
                    <!-- <fa-icon [icon]="faHeart"></fa-icon> -->
                    <mat-icon >favorite_border</mat-icon>
                  </button> 
              
                  <!-- </div> -->
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <div class="col-xl-6 col-lg-12 col-md-12">
        <div>
          <div *ngIf="!jPlusUn">
            <p *ngIf="!jPlusUn" class="titreMeteo">METEO DU JOUR : </p>

          </div>
          <div *ngIf="jPlusUn">
            <p *ngIf="jPlusUn" class="titreMeteo">METEO DU : {{dateLendemain | date:'dd/MM/yyyy'}} </p>
          </div>

          <div class="recommandation">
            <div *ngIf="!jPlusUn">
              <fa-icon [icon]="faInfoCircle" size="2x"></fa-icon>: Faut-il aller surfer aujourd'hui ? :<span
              class="textStatutMeteo">
              <span *ngIf="spotSurf.available == false"> Non recommandé</span>
              <span *ngIf="spotSurf.available == true"> Recommandé</span>
            </span>
            </div>
            <div *ngIf="jPlusUn">
              <fa-icon [icon]="faInfoCircle" size="2x"></fa-icon>: Faut-il aller surfer demain ? :<span
              class="textStatutMeteo">
              <span *ngIf="spotSurf.available == false"> Non recommandé</span>
              <span *ngIf="spotSurf.available == true"> Recommandé</span>
            </span>
            </div>
            <!-- <fa-icon [icon]="faInfoCircle" size="2x"></fa-icon>: Faut-il aller surfer aujourd'hui ? :<span
              class="textStatutMeteo">
              <span *ngIf="spotSurf.available == false"> Non recommandé</span>
              <span *ngIf="spotSurf.available == true"> Recommandé</span>
            </span> -->
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-10 listePrevision">

            <div class="">
              <fa-icon [icon]="faTemperatureLow" size="2x"></fa-icon>
              <span class="textTitreMeteo"> Temperature :  </span>
              <span class="textMeteo">  {{spotSurf.maxtempC}} C  </span>
           
            </div>
            <div class="">
              <fa-icon [icon]="faWind" size="2x"></fa-icon>
                <span class="textTitreMeteo"> Direction du vent :  </span>
                <span class="textMeteo"> {{spotSurf.winddir16Point}}</span>
            </div>
            <div class="">
              <fa-icon [icon]="faWind" size="2x"></fa-icon> 
              <span class="textTitreMeteo"> Hauteur des vagues :  </span>
               <span class="textMeteo">{{spotSurf.sigHeight_m}}</span>
               <span class="mesureMeteo">.m</span>
            </div>
            <div class="">
              <fa-icon [icon]="faWind" size="2x"></fa-icon>
              <span class="textTitreMeteo"> Hauteur de la houle :  </span>  
               <span class="textMeteo">{{spotSurf.swellHeight_m}}</span>
               <span class="mesureMeteo">.m</span>
            </div>
            <div class="">
              <fa-icon [icon]="faWind" size="2x"></fa-icon> 
              <span class="textTitreMeteo"> Période de houle :  </span>
              <span class="textMeteo">{{spotSurf.swellPeriod_secs}}</span>
              <span class="mesureMeteo">.s</span>
            </div>
            <div class="">
              <fa-icon [icon]="faWind" size="2x" class="icon_meteo"></fa-icon>
              <span class="textTitreMeteo"> Direction de la houle :  </span>
              <span class="textMeteo"> {{spotSurf.swellDir16Point}}</span>
            </div>

          </div>

          <div class="col-md-2 boutonPrevision">
            <button type="button" *ngIf="!jPlusUn" class="btn btn-outline-light"
              (click)="getMeteoPrevision(spotSurf._id)">
              <fa-icon [icon]="faChevronRight"></fa-icon>
            </button>

            <button type="button" *ngIf="jPlusUn" class="btn btn-outline-light" (click)="getMeteoDuJour(spotSurf._id)">
              <fa-icon [icon]="faChevronLeft"></fa-icon>
            </button>

          </div>
        </div>
        <!-- <p>{{spotSurf.latitude}}</p>
        <p>{{spotSurf.longitude}}</p> -->
        <!-- <p>Vouslez-vous ajouter ce spot a vos favoris : ? </p>
        <p>Oui ? Il suffit de cliquer sur le petit coeur </p>
        -->
      </div>
    </div>
  </div>

</div>
<br>
<div class="tailleTableauCommentaire">
  <app-commentaire></app-commentaire>
</div>


<!-- <div mat-dialog-actions>
  <button  class="btn btn-outline-light" mat-button mat-dialog-close>Cancel</button>
</div> -->


<!-- Copyright 2021 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->

<!-- <button mat-button cdkFocusInitial>Install</button> -->

<!-- (click)="deleteFavoris( spot.nomSpot,spot.latitudeSpot,spot.longitudeSpot)" -->

<!-- <button  type="button"  *ngIf="isLoggedIn && !isFavoris" (click)="addFavoris(user.email,activite,latitude,longitude)"  >
    <fa-icon [icon]="faHeart"></fa-icon>
  </button> -->



<!-- 
    <button  *ngIf="isLoggedIn && isFavoris"  >
      <fa-icon [icon]="faHeartBroken"></fa-icon></button> -->


<!-- <button   style="border:0px"  *ngIf="!isLoggedIn && !isFavoris" >
        <fa-icon [icon]="faHeart"></fa-icon></button> -->

<!-- <button  *ngIf="!isLoggedIn && !isFavoris" data-toggle="tooltip" data-placement="bottom" title="Se connecter pour ajouter aux favoris" type="button" class="btn btn-secondary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
  <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"></path>
  </svg>
      </button> -->