<figure>
  <blockquote class="blockquote">
    <p class="titreFormulaire"> </p>
  </blockquote>
  <figcaption class="blockquote-footer textEnteteFormulaire">
   Modifier le spot choisi !
  </figcaption>
</figure>




<div class="row justify-content-center mt-5">
  <div class="col-md-4">
    <form  [formGroup]="spotForm" (ngSubmit)="ModificationDataSpot()">
      <!-- enctype="multipart/form-data" -->

      <div class="form-group">
        <input type="text" formControlName="nom" class="form-control" placeholder="Nom du spot"
          [ngClass]="{ 'is-invalid':  f.nom.errors }" />
      </div>


      <div class="form-group">
        <mat-select class="form-control" formControlName="winddir16Point" [ngClass]="{ 'is-invalid': f.winddir16Point.errors }" >
          <mat-option></mat-option>
          <mat-option [value]="option.value" *ngFor="let option of bousole">{{ option.viewValue }}</mat-option>
        </mat-select>
      </div>

      <div class="form-group">
        <mat-select [(value)]="selectedSwell" class="form-control" formControlName="swellDir16Point" [ngClass]="{ 'is-invalid': f.swellDir16Point.errors }">
          <mat-option></mat-option>
          <mat-option [value]="option.value" *ngFor="let option of bousole">{{ option.viewValue }}</mat-option>
        </mat-select>
      </div>

      <div class="form-group">
        <input type="number" min=0 formControlName="latitude" class="form-control" placeholder="Latitude"
          [ngClass]="{ 'is-invalid':  f.latitude.errors }" />
        <!-- <div class="alert alert-danger" *ngIf="submitted && f.latitude.errors?.required" role="alert"> Veuillez saisir
          les coordornnées de latitude </div> -->
      </div>

      <div class="form-group">
        <input type="number" min=0 formControlName="longitude" class="form-control" placeholder="Longitude"
          [ngClass]="{ 'is-invalid': f.longitude.errors }" />
        <!-- <div class="alert alert-danger" *ngIf="submitted && f.longitude.errors?.required" role="alert"> Veuillez saisir
          les coordornnées de longitude </div> -->
      </div>

      <div class="form-group" *ngIf="spotForm.valid && spotForm.dirty">
        <button class="btn btn-light btn-block" type="submit">Modifier ! </button>
      </div>

      <div class="form-group" *ngIf="!spotForm.valid || !spotForm.dirty" >
        <button class="btn btn-light btn-block" type="submit" disabled >
          Modifier ! </button>
      </div>

     
    </form>
  </div>
</div>