// sp-page-builder .page-content #about {
//     padding-top: 160px;
//     padding-right: 0px;
//     padding-bottom: 160px;
//     padding-left: 0px;
//     margin-top: 0px;
//     margin-right: 0px;
//     margin-bottom: 0px;
//     margin-left: 0px;
//     background-image: url(../../../assets/images/bg-section-about.jpg);
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-attachment: scroll;
//     background-position: 50% 50%;
//     box-shadow: 0 0 0 0 #ffffff;
// }
// #sp-page-builder .page-content .sppb-section, #sp-page-builder .sppb-section {
//     will-change: top;
// }
// #sp-page-builder .page-content .sppb-section, #sp-page-builder .sppb-section, .mod-sppagebuilder .sppb-section {
//     z-index: 1;
//     position: relative;
// }
 .btn_detail{
    margin-top: 50px;
    margin-left:120px;
    top: 10px;
    font-size: 10px;
    backface-visibility: hidden;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .4px;
    border: 2px solid #bec5d8;
    padding: 8px 15px;
    border-radius: 30px;
    background: #bec5d8;
    color: white;
 
 }
.transitionchart{
    background-image: url(../../..//assets/images/slide.png);
    padding-top: 300px;
    padding-right: 0px;
    margin-bottom: -75px;;
}
.aboutbackground{
   // background-image: url(../../../assets/images/bg-section-about.jpg);
    background-image: url(../../../assets/images/section_about_bg.png);
    padding-top: 200px;
    padding-right: 0px;
    padding-bottom: 160px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: 50% 50%;
    box-shadow: 0 0 0 0 #ffffff;
}

.imagePlage{
    // background-image: url(../../../assets/images/about2.png);
    background-image: url(../../../assets/images/mer_vue_ciel.jpg);
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom: 220px;
    display: block;
    text-align: center;
}
#sppb-addon-1588869997274 .color-darkgrey {
    margin-bottom: 0;
}




@media (min-width: 1200px){
body.helix-ultimate
.sppb-row-container {
    max-width: 1140px;
}
}


.containerSpot{

    padding-top: 160px;
   
   }


@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

.card{
    margin-left: 2%;
    margin-bottom: 2%;
}

:root{
  font-size: 20px;
}

a {
	cursor: pointer;
  transition: all 200ms linear;
}
a:hover {
	text-decoration: none;
}
.link {
  color: #c4c3ca;
}
.link:hover {
  color: #ffeba7;
}
.over-hide {
  overflow: hidden;
}
.size-22{
  font-size: 22px;
}
.section{
  position: relative;
  width: 100%;
  z-index: 1;
  display: block;
}


.pricing-wrap{
 // position: relative;
  padding-top: 160px;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.pricing-wrap h3{
  //position: relative;
  width: 100%;
  display: block;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 15px;
  line-height: 1.7;
  color: #102770;
  transform: translate3d(0, 0, 35px) perspective(100px);
}


.pricing-wrap h2{
 // position: relative;
  width: 100%;
  display: block;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 36px;
  line-height: 1.1;
  color: #102770;
  transform: translate3d(0, 0, 30px) perspective(100px);
}
.pricing-wrap h2 sup{
  font-size: 20px;
}
.pricing-wrap p{
 // position: relative;
  width: 100%;
  display: block;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #102770;
  transform: translate3d(0, 0, 30px) perspective(100px);
}

.link {
 position: relative;
  padding: 10px 20px;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  color: #ffeba7;
  background-color: #102770;
  transition: all 200ms linear;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  transform: translate3d(0, 0, 30px) perspective(100px);
}
.link:hover {
  color: #102770;
  background-color: #ffeba7;
}
.card-back .link{
  background-color: #0c1c00;
}
.card-back .link:hover{
  color: #0c1c00;
  background-color: #ffeba7;
}
.img-wrap img{
  width: 100%;
  height: auto;
  display: block;
}

.img-1{
    position: absolute;
    display: block;
    left: -50px;
    top: -50px;
    z-index: 5;
    width: calc(50% + 50px);
    transform: translate3d(0, 0, 45px) perspective(100px);
    opacity: 1;
    pointer-events: auto;
    transition: transform 400ms 1200ms ease, opacity 400ms 1200ms ease;
  }


  .img-surf{
    // background-image: url(../../../assets/images/about2.png);
    background-image: url(../../../assets/images/surfBoard2.png);
    height: 100px;

}

.img-2 {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  z-index: 1;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;
  width: 100%;
 
  transform: translate3d(0, 0, 15px) perspective(100px);
}
.img-3{
  position: absolute;
  display: block;
  right: -20px;
  top: -40px;
  z-index: 5;
  width: calc(60% + 20px);
  transform: translate3d(0, 0, 55px) perspective(100px) scale(1);
  opacity: 1;
  pointer-events: auto;
  transition: transform 300ms 1300ms ease, opacity 200ms 1300ms ease;
}

.img-6{
  position: absolute;
  display: block;
  right: -20px;
  bottom: -55px;
  z-index: 5;
  width: calc(20% + 30px);
  transform: translate3d(0, 0, 25px) perspective(100px) scale(1);
  opacity: 1;
  pointer-events: auto;
  transition: transform 300ms 1300ms ease, opacity 200ms 1300ms ease;
}




.logo {
	position: fixed;
	top: 30px;
	right: 30px;
	display: block;
	z-index: 100;
	transition: all 250ms linear;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
}


.section_btn_allpot{
    text-align: center;
    padding-bottom: 30px;
}
.btn_allpot{
  border: 2px solid #bec5d8;
  padding: 8px 15px;
  color: white;
  background: #bec5d8;
}

.about_titre{
  font-size: 30px;
  font-weight: 500;
}
.about_sous_titre{
  font-size: 20px;

}

@media (min-width: 768px){


.border-left-custom {
    border-left: 2px solid #0d425e;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
}
.fw-divider-space {
  clear: both;
  width: 100%;
}
.about_text{
  
  font-family: 'Poppins', sans-serif;
}

