
    <app-chart></app-chart>
    <section class="transitionchart">
  
    </section>
    <section class="aboutbackground">
      <div class="sppb-row-container" >
        <div class="sppb-row"> 
          <div class="container">
            <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12"  >
            <div>

            
            <p class="sppb-addon-title about_titre">AMWAJ : </p>
            <div class="sppb-addon-content "><h3 class=" about_sous_titre">Envie de surf ? <br>Faites confiance aux previsions de AMWAJ </h3>
              <!-- <p class=" text-md-left color-darkgrey fs-20 fw-500 about_sous_titre">Faites confiance aux previsions de AMWAJ </p> -->
              <div class="divider-40 divider-xl-50">&nbsp;</div>
              <div class="border-left-custom about_text">
              <p>AMWAJ, est une plateforme, qui vous permet de retrouver en un clic la météo de vos spots de surf préféré.</p>
              <p>Retrouver la météo, de façon claire, et accessible à tous ! Pas besoin de connaitre la direction du vent 
                ou de la vague idéale pour un spot en particulier, nous le faisons pour vous !</p>
              </div></div>
          </div>
          </div>
           

            <div class="col-lg-6 col-md-6 col-sm-10">
              <div class=" imagePlage"> </div>
            </div>

          </div>
          </div>
        </div>

      </div>

    </section>


    <!-- <section class="sectionSpotbackground">
    </section> -->
    <br>
      <div class="container containerSpot" >
	
        <div class="row">
          <div class="card" style="width: 25rem;"   *ngFor="let spot of spots; let i = index">
       
            
            <div class="card-front">
             
              <div class="pricing-wrap">
               
                <h3 class="">{{spot.nom}}</h3>
                <!-- <h2 class=""><sup>$</sup>39 / 4<sup>hrs</sup></h2>
                <p class="">per person</p> -->
                <button class="btn_detail" (click)="openDialog(spot._id)">+ De Details</button>
                <p class=""><i class="uil uil-location-pin-alt size-22"></i></p>
                <!-- <p class="">Drina, Serbia</p>
                <a href="#0" class="link">Choose Date</a>
                -->
                <div class="img-wrap img-2">
                  <img src="https://assets.codepen.io/1462889/sea.png" alt="">
                </div>
                <div class="img-wrap img-1">
                  <img src="assets/images/surfBoard2.png" alt="">
                </div>
                <div class="img-wrap img-3">
                  <img src="https://assets.codepen.io/1462889/water.png" alt="">
                </div>
                <!-- <div class="img-wrap img-6">
                  <img src="https://assets.codepen.io/1462889/Stone.png" alt="">
                </div> -->
                  </div>
            </div>
      </div>
  
  </div>
  <div class="section_btn_allpot">
    <button class="btn btn_allpot btn-lg btn-bloc" (click)="allSpot()">Voir plus...</button>
  </div>
 
   </div>

 
