<!-- <div class="container">
<div class="row">

    <div class="col-md-5  col-lg-7">

        <div id="chartdiv" style="width: 70%; height: 550px"></div>
    </div>

    <div class="col-md-2 col-lg-2">

    <p>dhhd</p>
    </div>




</div>
</div> -->
<div class="test">
<div class="row ">
    <div class="col-9">
        <div id="chartdiv" style="width: 100%; height: 800px"></div>
    </div>
    <div class="col-3 align-item-end">
        <div class="row ">
            <div class="row">
                <span>
                    <img class="fit-picture" src="assets/images/icon_surf_vert.png" style="width:10%">
                </span><span
                    class="bt-font-lemonRegular bt-color-vert"> Spot recommandé</span>
            </div>
            <div class="row">
                <span><img class="fit-picture" src="assets/images/icon_surf_rouge.png" style="width:10%"></span>
                <span class="bt-font-lemonRegular bt-color-violet"> Spot non recommandé</span>
            </div>
        </div>
    </div>
</div>
</div>