<!-- <app-header></app-header> <app-home></app-home>  <app-footer></app-footer> -->
<app-header [title]="title"></app-header>
<!-- <app-chart></app-chart> -->
<router-outlet></router-outlet>
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Angular 11 CRUD Operations Demo</a>
  
    <div id="navbarNav" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/books-list">Show Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/add-user">Add Books</a>
        </li>
      </ul>
    </div>
  </nav> -->