
  <figure>
    <blockquote class="blockquote">
      <p class="titreFormulaire"> </p>
    </blockquote>
    <figcaption class="blockquote-footer textEnteteFormulaire">
      Ajouter un nouveau spot ! 
    </figcaption>
  </figure>


 <div  class="row justify-content-center mt-5"> 
  <div class="col-md-4">
    <form enctype="multipart/form-data" [formGroup]="spotForm"  (ngSubmit)="testFormData()">
       
      
        <div class="form-group">
          <input type="text" formControlName="nom" class="form-control"  placeholder="Nom du spot" [ngClass]="{ 'is-invalid': submitted && f.nom.errors }" />
        </div>


        <div class="form-group"> 
          <mat-select formControlName="bousoleVent" class="form-control" placeholder="Direction du vent" required [ngClass]="{ 'is-invalid': submitted && f.bousoleVent.errors }" >
            <mat-option>--</mat-option>
            <mat-option *ngFor="let point of bousole" [value]="point">
              {{point.name}}
            </mat-option>
          </mat-select>
          </div>

          <div class="form-group"> 
            <mat-select formControlName="bousoleHoule" class="form-control" placeholder="Direction de la houle" required required [ngClass]="{ 'is-invalid': submitted && f.bousoleVent.errors }">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let point of bousole" [value]="point">
                {{point.name}}
              </mat-option>
            </mat-select>
            </div>


        <div class="form-group inputLatitute">
          <input type="number" min=0 formControlName="latitude" class="form-control" placeholder="Latitude" [ngClass]="{ 'is-invalid': submitted && f.latitude.errors }" />
        </div>

        <div class="form-group">  
          <input type="number" min=0  formControlName="longitude" class="form-control" placeholder="Longitude" [ngClass]="{ 'is-invalid': submitted && f.longitude.errors }" />
        </div>

        <div class="form-group">
          <input type="file"  accept="image/png, image/jpeg" name="image" id="idImage" formControlName="image" class="form-control" (change)="selectFile($event)" [ngClass]="{ 'is-invalid': submitted && f.image.errors }" />
        </div>

        

        <div class="form-group">
          <button class="btn btn-light btn-block" type="submit" >Ajouter ! </button>
        </div>
        
      </form>
  </div>
</div>