input{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 6px 8px;
    line-height: 16px;
    background: transparent;
    box-sizing: border-box;
    margin: 18px 0;

}
.textEnteteFormulaire{
    text-align: center;
  }

.enteteFomulaire{
    text-align: center;
    padding-top: 80px;

}
.titreFormulaire{
    
    font-size: 30px;
}
.textEnteteFormulaire{
    padding-top: 10px;
    font-size: 20px;
}

.mat-select-panel {
    background: red;
 
}

.form-control {
  margin-bottom: 20px;
    background-color: #bec5d8;
 
}

.textError{
    margin-top: -20px;
}
.inputLatitute{
    margin-top: -15px;;
}