<section class="enteteConnexion">
  <div>
    <h1 class="titreConnexion">CONNEXION</h1>
  </div>

</section>






<div class="login d-flex align-items-center py-5">
  <!-- Demo content-->
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-7 mx-auto">

        <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

          <div class="mb-3">
            <!-- <input type="email" placeholder="Adresse email" autofocus="" name="email" [(ngModel)]="form.email"
              required #email="ngModel" class="form-control shadow-sm px-4">

              <div class="alert alert-danger" role="alert" *ngIf="email.errors && f.submitted">
                <div *ngIf="email.errors.required"> Veuillez saisir un email</div>
                <div *ngIf="email.errors.email"> Veuillez saisir un email valide </div>
              </div> -->
              <input type="email" placeholder="Adresse email" autofocus="" name="email" [(ngModel)]="form.email" required
              email #email="ngModel" class="form-control shadow-sm px-4">
            <div class="alert alert-danger" role="alert" *ngIf="email.errors && f.submitted">
              <div *ngIf="email.errors.required">Veuillez saisir un email</div>
              <div *ngIf="email.errors.email">Veuillez saisir un email valide </div>
            </div>
          
          </div>
          <div class="input-group mb-3">

            <input type="password" placeholder="Mot de passe" name="password" [(ngModel)]="form.password" required
              minlength="1" #password="ngModel" matInput [type]="hide ? 'password' : 'text'"
              class="form-control shadow-sm px-4" aria-describedby="basic-addon1">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1" mat-icon-button matSuffix (click)="hide = !hide"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </span>
            </div>

          </div>



          <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors.required">Veuillez saisir un mot de passe</div>
            <div *ngIf="password.errors.minlength">
              Le mot de passe doit contenir plus de caractères
            </div>
          </div>


          <div class="custom-control custom-checkbox mb-3">
            <input id="customCheck1" type="checkbox" checked class="custom-control-input"> <label for="customCheck1"
              class="custom-control-label">Se
              souvenir de moi</label>
          </div>
          <button type="submit" class="btn btn-custom-validation btn-block text-uppercase mb-2 shadow-sm"
            name="login-submit" id="login-submit">Connexion</button>


          <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
            {{ errorMessage }}
          </div>

          <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailedBannit">
            <div class="container">
              <div class="row">
                <div class="col">{{ errorMessageBannit }} :</div>
                <div class="col"> <input type="submit"  (click)="ReclamationCompteUser(email)" class="form-control " value="Envoyer une réclamation "> </div>
              </div>
            </div>
           
          </div>

          <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailedDemandeDepose">
            {{ errorMessageDemandeDepose }} 
          </div>


          <div class="alert alert-danger" role="alert" *ngIf="succesReclamationCompteUser">
            Votre demande a été envoyée
          </div>



          

        </form>

        <div class="form-group">
          <span>Vous n'avez pas encore de compte ?<a href="/" routerLink="/register"> Inscrivez-vous ! </a></span>
        </div>

      </div>
    </div>
  </div>


</div>