.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }

  // .bg-image {
  //   background-image: url("../../../assets/images/bg-video.jpg");
  //   background-size: cover;
  //   background-position: center center;
  // }

  .enteteConnexion{
    

      background-image: url(../../../assets/images/parallax_2.jpg);
      position: relative;
      padding-top: 200px;
      padding-right: 0px;
      padding-bottom: 300px;
      padding-left: 0px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: -11px;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: scroll;
      background-position: 50% 50%;
      box-shadow: 0 0 0 0 #ffffff;
   
  }

  .titreConnexion{
    font-family: 'designer', 'arial', sans-serif;
    color: white;
    text-align: center;
  }