<p>Liste de commentaires</p>


<div class="container sectionListe">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
  
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
  
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.dateCommentaire | date:'dd/MM/yyyy'}} </td>
        </ng-container>
  
  
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.espaceUtilisateur.email}} </td>
        </ng-container>
  
        <ng-container matColumnDef="commentaire">
          <th mat-header-cell *matHeaderCellDef> Commentaire </th>
          <td mat-cell *matCellDef="let element"> {{element.commentaire}} </td>
        </ng-container>
  
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
      <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" 
                    [pageSize]="5" 
                    [length]="dataSource.length"
                    (page)="OnePageChance($event)"
               ></mat-paginator> -->
  
      <mat-paginator #paginator [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
</div>
  
