<div class="container sectionListe table-responsive">
  <div class="mat-elevation-z8">
  
    <table class="table-hover" mat-table mdbTableScroll scrollY="true" [dataSource]="dataSource" (mouseenter) ="mouseEnter() "  (mouseleave) ="mouseLeave()">

      <!-- Position Column -->
      <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef> Prenom </th>
        <td mat-cell *matCellDef="let element"> {{element.espaceUtilisateur.personne.prenom?element.espaceUtilisateur.personne.prenom:'utilisateur sans nom'}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.dateCommentaire | date:'dd/MM/yyyy'}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="commentaire">
        <th mat-header-cell *matHeaderCellDef> Commentaire </th>
        <td mat-cell *matCellDef="let element"> {{element.commentaire}} </td>
      </ng-container>

      <ng-container matColumnDef="symbol" >
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" > 
         <div *ngIf='element.espaceUtilisateur.email == email'>
            <button [hidden]="!iconVisible && element.espaceUtilisateur.email == email"  (click)="deleteCommentaire(element.id)" class="btn btn-icon">
              <fa-icon [icon]="croix"></fa-icon>
            </button>
          </div>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="" *ngIf="dataSource.length == 0">
      <p>Pas encore de commentaires ! Soyez le premier </p>
    </div>
  </div>
</div>
<br>
<div class="encadrerFormulaire">
  <div class="container">
    <form name="form"  (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="row">
        <div class="col-lg-11">
          <!-- <input type="text" class="form-control" name="champsCommentaire"> -->
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Commentaire</mat-label>
            <input *ngIf="!isLoggedIn" matInput placeholder="Ex. Super spot ! " name="textCommentaire"
              [(ngModel)]="form.textCommentaire" #textCommentaire="ngModel" disabled>
            <span *ngIf="!isLoggedIn">Vous devez vous connecter pour pouvoir poster un commentaire ! </span>

            <input *ngIf="isAdmin" matInput placeholder="Ex. Super spot ! " name="textCommentaire"
              [(ngModel)]="form.textCommentaire" #textCommentaire="ngModel" disabled>
            <span *ngIf="isAdmin"> Seul un utilisateur peut poster un commentaire </span>

            <div  *ngIf="isLoggedIn && !isAdmin  ">
              <input matInput placeholder="Ex. Super spot ! " name="textCommentaire"
              [(ngModel)]="form.textCommentaire" #textCommentaire="ngModel" required>
            <div role="alert" *ngIf="textCommentaire.errors?.required && f.submitted"> Veuillez saisir un commentaire</div>
            </div>
          </mat-form-field>

        </div>
        <div class="col-lg-1">
          <button *ngIf="!isLoggedIn || isAdmin" matTooltip="" type="submit"
            class="inputCom btn btn-custom-validation btn-block text-uppercase mb-2 shadow-sm" disabled>Envoyer</button>
          <button *ngIf="isLoggedIn  && !isAdmin " type="submit"
            class="inputCom btn btn-custom-validation btn-block text-uppercase mb-2 shadow-sm">Envoyer</button>
        </div>
      </div>
    </form>
  </div>

  

</div>