table {
    width: 101%;
    background-color: #CBD0DF;
    color: black;
  }

  @media (min-width:800px) {
   
  .mat-column-prenom {
    width: 250px;
    color: black;
    padding-right: 70px;
  }

  .mat-column-date {
    width: 32px;
    color: black;
    padding-right: 100px;
  
  }
  .mat-column-commentaire {
    color: black;
  }

  }
  
  @media (max-width:800px) {
   
    .mat-column-prenom {
      width: 32px;
      color: black;
      padding-right: 50px;
    }
  
    .mat-column-date {
      width: 32px;
      color: black;
      padding-right: 50px;
    
    }
    .mat-column-commentaire {
      color: black;
    }
    
    }
  
    



  // .table-responsive {
  //   display: block;
  //   width: 101%;
  //   overflow-x: auto;
  //   .mat-table {
  //     background-color: #CBD0DF;
     
  //       width: 101%;
  //       max-width: 101%;
  //       margin-bottom: 1rem;
  //       display: table;
  //       border-collapse: collapse;
  //     margin: 0px;
  //   }
  //   .mat-row,
  //   .mat-header-row {
  //       display: table-row;
  //   }
  //   .mat-cell,
  //   .mat-header-cell {
  //       word-wrap: initial;
  //       display: table-cell;
  //      padding: 0px 5px;
  //       line-break: unset;
  //      width: auto;
  //       white-space: nowrap;
  //       overflow: hidden;
  //       vertical-align: middle;
  //       color: black;
  //   }
  // }


  
  .dark-modal .modal-content {
    background-color: #edf1f3;
    color: white;
  }
  .dark-modal .close {
    color: white;
  }
  .light-blue-backdrop {
    background-color: #5cb3fd;
  }
  .sectionListe{
    height: 200px;
  
  }

  // .mat-column-prenom {
  //   width: 10px;
  //   // border-right: 1px solid currentColor;
    
   
  // }



  .example-viewport {
    height: 200px;
    width: 200px;
    border: 1px solid black;
  }
  
  .example-item {
    height: 50px;
  }

  // .encadrerFormulaire{
    
  //   background-color: #edf1f3;
  //   height: 50px;
  //   width: 99%;
  //   margin-left: 13px;
  //   box-shadow: 2px 2px 2px grey;
  
  // }

  input[type="text"]
{
    background: transparent;
    border: none;
    box-shadow: 2px 2px 2px grey;
    margin-top:10px
}
  button{
    margin-top:9px;
    float: right;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .mat-row:hover {
    background-color: white;
  }
  
  .icon{
    font-size: 15px;
  }
  