<section class="enteteAdminBoard">
    <div>
     <h1 class="titre"></h1>
    </div>
</section>

   <mat-tab-group  (selectedIndexChange)="myTabFocusChange($event)" class="sousMenu" >
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon"><fa-icon class="color-icon" [icon]="faWater"></fa-icon></mat-icon>
        <label class="font">Liste des spots</label>
      </ng-template>
      <app-gestion-spot></app-gestion-spot>
    </mat-tab>
  
    <mat-tab>

      <ng-template mat-tab-label  >
        <mat-icon class="example-tab-icon"   matBadge="{{nbReclamationAafficher}}" matBadgeColor="accent"><fa-icon class="color-icon" [icon]="faUser" ></fa-icon></mat-icon> 
        <label class="font">Utilisateurs</label>
      </ng-template>
      <app-gestion-utilisateur></app-gestion-utilisateur>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <label class="font-commentaire">Commentaires</label>
        <mat-icon class="example-tab-icon" matBadge="{{nbComBehaviorAafficher}}" matBadgeColor="accent"> chat_bubble_outline</mat-icon>
      </ng-template>
  
      <app-gestion-commentaire></app-gestion-commentaire>
    </mat-tab>

  </mat-tab-group>
