.enteteAdminBoard{

    background-image: url(../../../../assets/images/parallax_2.jpg);
    position: relative;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 200px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: -11px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: 50% 50%;
    box-shadow: 0 0 0 0 #ffffff;
  }  

  mat-tab-label-content{
  color: red;

}
.sousMenu{
  margin-top: 10px;
}
.font {
  color: black;
  margin-top: 10px;
 margin-left: 10px;
}
.font-commentaire{
  color: black;
  margin-top: 10px;
}
.example-tab-icon{
  color:black;
}

.mat-tab-label-content{
  color:red;
}

// [matBadgeColor=custom]{
//   .mat-badge-content{
//       background : #bec5d8;
//       color: #fff;
//   }
// }
// .mat-badge-content {
//   background: red;
//   color: blue;
// }
.color-icon{
  color: #bec5d8;
 // margin-left: 10px;
// margin-right: 10px;
}
::ng-deep .custom  {
  .mat-badge-content{
      background : #bec5d8;
      color: #fff;
  }
}