<section class="enteteListeCommentaire">
  <div class="container">

    <div class="alert alert-success alert-dismissible" role="alert" *ngIf="succes">
      La suppression a bien été prise en compte !
      <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close" (click)="closeSucces()">
      </button>
    </div>


    <div class="alert alert-success alert-dismissible" role="alert" *ngIf="succesApprouvCom">
      Le commentaire a bien été pris en compte !
      <button type="button " class="btn-close" data-dismiss="alert" aria-label="Close" (click)="closeSuccesApprouvCom()">
      </button>
    </div>


    <div class="alert alert-danger" role="alert" *ngIf="error">
      Une erreur est survenue
    </div>
  </div>

  <figure>
    <blockquote class="blockquote">
      <p class=""> </p>
    </blockquote>
    <figcaption class="blockquote-footer titreListeCommentaire">
      Commentaires
    </figcaption>
  </figure>
</section>

<div class="container sectionListe">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="_id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.dateCommentaire | date:'dd/MM/yyyy'}} </td>
      </ng-container>


      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.espaceUtilisateur.email}} </td>
      </ng-container>

      <ng-container matColumnDef="commentaire">
        <th mat-header-cell *matHeaderCellDef> Commentaire </th>
        <td mat-cell *matCellDef="let element"> {{element.commentaire}} </td>
      </ng-container>


      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Action. </th>
        <td mat-cell *matCellDef="let row">

          <button (click)="ApprouveCommentaire(row.id,row.id)" class="btn  btn-icon">
            <fa-icon [icon]="faCheck"></fa-icon>
          </button>

          <button (click)="deleteCommentaire(row.id,row.id)" class="btn btn-icon">
            <fa-icon [icon]="croix"></fa-icon>
          </button>

        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>



</div>