table {
    width: 100%;
   
  }

  .enteteListeCommentaire{
    text-align: center;
    padding-top: 80px;

  }
  .titreListeCommentaire{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    

  }

  .btn-icon{
    border: none;
    color: white
  }
  .btn-icon :hover{
    color: #bec5d8
}
