
<div *ngIf ="!isFormInfoConnexion" class="row justify-content-center mt-5">
    <div class="col-md-4">
      <form [formGroup]="myFormInfo" (ngSubmit)="onUpdate()">
        <div class="form-group">
          <label class="label_champs">Nom</label>
          <input class="form-control" type="text" formControlName="nom"  placeholder="Nom">
          <!-- <div class="alert alert-danger"   *ngIf="submitted && g.nom.errors?.required"role="alert" >Veuillez saisir un nom </div> -->
        </div>

        <div class="form-group">
          <span class="label_champs">Prenom</span>
          <input class="form-control" type="text" formControlName="prenom"  placeholder="Prenom" >
         <!-- <div class="alert alert-danger"   *ngIf="submitted && g.prenom.errors?.required"role="alert" >Veuillez saisir un prenom </div> -->
        </div>

        <div class="form-group"> 
          <label class="label_champs">Numero</label>
          <input class="form-control" type="text"  formControlName="numero"  placeholder="Numero" >
           <!-- <div class="alert alert-danger"   *ngIf="submitted && g.numero.errors?.minlength" role="alert" >Veuillez saisir un prenom </div> -->
         <div class="alert alert-danger"   *ngIf="submitted && g.numero.hasError('pattern')"role="alert" >Erreurs sur le numero de telephone </div>
        </div>
        
        <div class="form-group">
          <button class="btn btn-light btn-block" type="submit" [disabled]="!myFormInfo.dirty"  >Modifier</button>

        </div>
      
      </form>
    </div>
  </div>

    

<div  *ngIf ="isFormInfoConnexion"class="row justify-content-center mt-5"> 
  <div class="col-md-6">
    <form enctype="multipart/form-data" [formGroup]="formPWD"  (ngSubmit)="onUpdateInfoConnexion()">
       
      
        <div class="form-group">
          <input type="password" formControlName="password" class="form-control"  placeholder="Nouveau mot de passe" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <div class="alert alert-danger"   *ngIf="submitted && f.password.errors?.required"role="alert" >Veuillez saisir un mot de passe </div>
        </div>

        <div class="form-group">
          <input type="password"  formControlName="confirmPassword" class="form-control" placeholder="Confimer votre nouveau mot de passe" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
          <div class="alert alert-danger"    *ngIf="formPWD.hasError('notSame')" role="alert" > Il ne correspond pas au premier mot de passe  </div>
        </div>
     
        <div class="form-group">
          <button class="btn btn-light btn-block" type="submit" >Modifier </button>
        </div>
        
      </form>
  </div>
  </div>